@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Colors

$black:        hsl(0, 0%, 4%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);

$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 67%);
$green:        hsl(141, 53%,  53%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 71%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(348, 86%, 61%);

$primary: $turquoise;

$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;

// Misc

$radius: 10px;
$radius-small: $radius;
$border: #000;
$border-width: 4px;
$shadow-width: ($border-width * 2);
$shadow-width-small: $border-width;
$shadow-size: $shadow-width $shadow-width 0 0;
$shadow-size-small: $shadow-width-small $shadow-width-small 0 0;
$shadow-color: #ababab;
$shadow: $shadow-size $shadow-color;

// Typography

$family-sans-serif: 'Press Start 2P', monospace;
$title-family: 'Press Start 2P', monospace;
$subtitle-family: 'Press Start 2P', monospace;
$title-color: #000;
$subtitle-color: $title-color;
$title-weight: 400;
$title-size: $size-2;

// Responsive helpers

$widescreen-enabled: false;
$fullhd-enabled: false;
$gap: 32px;
$tablet: 720px;
$desktop: $tablet + (2 * $gap);

// Cards

$card-shadow: $shadow;
$card-header-shadow: none;
$card-header-color: $title-color;
$card-border: $border-width solid $border;
$card-footer-border-top: $card-border;

// Buttons

$button-color: $black;
$button-focus-box-shadow-size: $shadow-size;
$button-focus-box-shadow-color: $shadow-color;
$button-family: $family-sans-serif;
$control-border-width: $border-width;
$button-border-color: $border;
$button-hover-border-color: $button-border-color;
$button-active-color: $black;
$button-active-border-color: $black;
$button-focus-color: $black;
$button-focus-border-color: $black;
$button-press-offset: ($shadow-width - $shadow-width-small);
// $button-hover-color: $shadow-color;
// $button-text-hover-background-color: $shadow-color;