@import '../sass/variables';

$panel-animation-length: 0.2s;

@keyframes close-panel {
    0% {
        width: 100%;
        height: 555px;
    }

    50% {
        width: 56px;
        height: 555px;
    }

    100% {
        width: 56px;
        height: 56px;
    }
}

@keyframes open-panel {
    0% {
        width: 56px;
        height: 56px;
    }

    50% {
        width: 56px;
        height: 555px;
    }

    100% {
        width: 100%;
        height: 555px;
    }
}

@keyframes hide-contents {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes show-contents {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

.stats-panel {
    overflow: hidden;

    .card-header {
        height: 56px;
        max-height: 56px;
    }

    .card-header-title,
    .stats-date,
    .stat-block .title {
        word-break: unset;
    }

    &.opening {
        animation: open-panel $panel-animation-length steps(4);
        animation-fill-mode: backwards;

        .card-header-title,
        .stats-date,
        .stat-block {
            animation: show-contents $panel-animation-length steps(1);
            animation-fill-mode: backwards;
        }
    }

    &.closing {
        animation: close-panel $panel-animation-length steps(4);
        animation-fill-mode: forwards;

        .card-header-title,
        .stats-date,
        .stat-block {
            animation: hide-contents $panel-animation-length steps(1);
            animation-fill-mode: forwards;
        }
    }

    &.open {
        width: 100%;
        height: 555px;

        .card-header-title,
        .stats-date,
        .stat-block {
            opacity: 100%;
        }
    }

    &.closed {
        width: 56px;
        height: 56px;

        .card-header-title,
        .stats-date,
        .stat-block {
            opacity: 0%;
        }
    }
}

.stats-date {
    padding: 0.75rem 1rem;
}

.saving-spinner,
.loading-spinner {
    position: absolute;
    width: 56px;
    height: 56px;
    padding: 0.75em;
    color: #000;
    opacity: 100%;
}

.saving-spinner {
    right: 0;
    top: (50px + $border-width);
}

.loading-spinner {
    left: -4px;
    top: -4px;
}