@import '../sass/variables';

$bar-width: 15px;
$bar-end-radius: $bar-width / 2;
$bar-border-width: 2px;
$bar-border: $bar-border-width solid #000000;
$handle-size: $bar-width * 1.75;
$handle-top: -(($handle-size - $bar-width) / 2) - $bar-border-width;
$handle-right: -($handle-size / 2) - $bar-border-width / 2;
$stat-colours: (
    health: $red,
    magic: $purple,
    defense: $yellow,
    speed: $turquoise,
    luck: $blue
);

// noUiSlider overrides

@keyframes handle-show {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes handle-hide {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.stat-block:hover .noUi-handle {
    animation: handle-show 0.1s ease-out;
    opacity: 100%;
}

.noUi-handle {
    animation: handle-hide 0.1s ease-out;
    opacity: 0%;
    border: $bar-border;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    box-shadow: none;
}

.noUi-target {
    background: #ffffff;
    border-radius: $bar-end-radius;
    border: $bar-border;
    box-shadow: none;
    cursor: pointer;
}

.noUi-connects {
    border-radius: $bar-end-radius;
}

.noUi-horizontal {
    height: $bar-width;
}

.noUi-horizontal .noUi-handle {
    width: $handle-size;
    height: $handle-size;
    right: $handle-right;
    top: $handle-top;
}

.noUi-handle:before,
.noUi-handle:after {
    content: none;
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
}

@each $key, $colour in $stat-colours {
    #stat-#{$key} {
        .noUi-connect, .noUi-handle {
            background: $colour;
        }
    }
}