@import '../sass/variables';

@keyframes close-panel {
    0% {
        width: 100%;
        height: 555px;
    }

    50% {
        width: 56px;
        height: 555px;
    }

    100% {
        width: 56px;
        height: 56px;
    }
}

@keyframes open-panel {
    0% {
        width: 56px;
        height: 56px;
    }

    50% {
        width: 56px;
        height: 555px;
    }

    100% {
        width: 100%;
        height: 555px;
    }
}

.stats-panel {
    overflow: hidden;

    .card-header {
        height: 56px;
        max-height: 56px;
    }

    .card-header-title,
    .stats-date {
        word-break: unset;
    }

    &.open {
        // width: 100%;
        // height: 555px;
        // max-height: 555px;
        // min-height: 56px;
        // min-width: 56px;

        // transition:
        //     height 0.2s,
        //     width 0.2s 0.2s;

        animation: open-panel 0.25s 0.25s;
        animation-fill-mode: backwards;

        .card-header-title,
        .stats-date,
        .stat-block {
            opacity: 100%;
            transition: opacity 0.2s steps(1);
        }
    }

    &.closed {
        // width: 56px;
        // height: 56px;
        

        // transition:
        //     width 0.2s,
        //     height 0.2s 0.2s;

        animation: close-panel 0.25s 0.25s;
        animation-fill-mode: forwards;

        .card-header-title,
        .stats-date,
        .stat-block {
            opacity: 0%;
            transition: opacity 0.1s steps(1);
        }

        .saving-spinner {
            top: -4px;
            right: unset;
            left: -4px;
            opacity: 100%;
        }
    }
}

.stats-date {
    padding: 0.75rem 1rem;
}

.saving-spinner {
    position: absolute;
    right: 0;
    top: (50px + $border-width);
    width: 56px;
    height: 56px;
    padding: 0.75em;
    color: #000;
    opacity: 100%;
}