// NES.css variable import
@import '../node_modules/nes.css/scss/base/color-palette';
@import '../node_modules/nes.css/scss/base/variables';

// Fix for import issue with their data URI conversion function
$cursor-url: url('../../assets/cursor.png');
$cursor-click-url: url('../../assets/cursor-click.png');

// NES.css import
@import '../node_modules/nes.css/scss/nes';



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
